/node_modules/
/.idea/
/config.json
/fff_bot.iml
/package-lock.json
/damn_counter.json
/config_prod.json
/damn_counter_prod.json
/ws/ssl/private.key
/ws/ssl/privkey.pem
/ws/ssl/fullchain.pem
/ws/ssl/chain.pem
/ws/ssl/cert.pem
/ws/ssl/README
